<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/northwind</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
<!--        <mapping class="pl.edu.agh.domain.Supplier"/>
        <mapping class="pl.edu.agh.domain.Category"/>
        <mapping class="pl.edu.agh.domain.Product"/>
        <mapping class="pl.edu.agh.domain.Customer"/>
        <mapping class="pl.edu.agh.domain.Employee"/>
        <mapping class="pl.edu.agh.domain.Shipper"/>
        <mapping class="pl.edu.agh.domain.Order"/>
        <mapping class="pl.edu.agh.domain.OrderDetail"/>
        <mapping class="pl.edu.agh.domain.Region"/>
        <mapping class="pl.edu.agh.domain.Territory"/>
        <mapping class="pl.edu.agh.domain.EmployeeTerritory"/>
        <mapping class="pl.edu.agh.domain.CustomerDemographic"/>
        <mapping class="pl.edu.agh.domain.CustomerTypeMapping"/>-->
    </session-factory>
</hibernate-configuration>