<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:component-scan base-package="pl.edu.agh.domain"/>-->

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/northwind"/>
        <property name="username" value="postgres" />
        <property name="password" value="postgres" />
    </bean>

    <bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>pl.edu.agh.domain.Supplier</value>
                <value>pl.edu.agh.domain.Category</value>
                <value>pl.edu.agh.domain.Product</value>
                <value>pl.edu.agh.domain.Customer</value>
                <value>pl.edu.agh.domain.Employee</value>
                <value>pl.edu.agh.domain.Shipper</value>
                <value>pl.edu.agh.domain.Order</value>
                <value>pl.edu.agh.domain.OrderDetail</value>
                <value>pl.edu.agh.domain.Region</value>
                <value>pl.edu.agh.domain.Territory</value>
                <value>pl.edu.agh.domain.EmployeeTerritory</value>
                <value>pl.edu.agh.domain.Address</value>
                <value>pl.edu.agh.domain.Company</value>
                <value>pl.edu.agh.domain.Individual</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>