<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-config-tutorial-database.xml"/>
    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
    <context:component-scan base-package="pl.edu.agh.tutorial.aspect" />
    <aop:aspectj-autoproxy />

    <bean name="dataGenaratorTutorialRepository" class="pl.edu.agh.tutorial.generator.DataGeneratorRepository">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="simpleCriteriaApi" class="pl.edu.agh.tutorial.queries.criteriaapi.repositories.SimpleCriteriaApi">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="restrictionsCriteriaApi" class="pl.edu.agh.tutorial.queries.criteriaapi.repositories.RestrictionsCriteriaApi">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="projectionsCriteriaApi" class="pl.edu.agh.tutorial.queries.criteriaapi.repositories.ProjectionsCriteriaApi">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="simpleHql" class="pl.edu.agh.tutorial.queries.hql.SimpleHql">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="namedQueries" class="pl.edu.agh.tutorial.queries.namedqueries.NamedQueriesExamples">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="performanceAspect" class="pl.edu.agh.tutorial.aspect.PerformanceAspect" />

    <bean name="insertPerformanceTest" class="pl.edu.agh.tutorial.performanceTest.InsertPerformanceTest">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="selectPerformanceTest" class="pl.edu.agh.tutorial.performanceTest.SelectPerformanceTest">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="inheritancePerformanceTest" class="pl.edu.agh.tutorial.performanceTest.InheritancePerformanceTest">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="fetchTypesPerformanceTest" class="pl.edu.agh.tutorial.performanceTest.FetchTypesPerformanceTest">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean name="complexQueriesTest" class="pl.edu.agh.tutorial.performanceTest.ComplexQueriesTest">
        <constructor-arg name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>