<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <context:component-scan base-package="pl.edu.agh.domain"/>-->

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/BazyDanychTutorial"/>
        <property name="username" value="postgres" />
        <property name="password" value="postgres" />
    </bean>

    <bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
<!--                &lt;!&ndash; ******************************** BIDIRECTIONAL - ONE TO MANY ******************************** &ndash;&gt;
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.onetomany.annotations.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.onetomany.annotations.Order</value>-->

<!--                ******************************** BIDIRECTIONAL - MANY TO MANY ********************************
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.manytomany.annotations.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.manytomany.annotations.Order</value>-->

<!--                ******************************** BIDIRECTIONAL - ONE TO ONE ********************************
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.onetoone.annotations.Employee</value>
                <value>pl.edu.agh.tutorial.mappings.associations.bidirectional.onetoone.annotations.Address</value>-->

<!--                ******************************** INHERITANCE - SINGLE CLASS********************************
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.singleclass.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.singleclass.Individual</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.singleclass.Company</value>-->

<!--                ******************************** INHERITANCE - JOINED ********************************
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.joined.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.joined.Individual</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.joined.Company</value>-->

<!--                ******************************** INHERITANCE TABLE PER CLASS ********************************
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.tableperclass.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.tableperclass.Individual</value>
                <value>pl.edu.agh.tutorial.mappings.inheritance.annotations.tableperclass.Company</value>-->

<!--                &lt;!&ndash;******************************** UNIDIRECTIONAL - ONE TO ONE ********************************&ndash;&gt;
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.onetoone.annotations.Employee</value>
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.onetoone.annotations.Address</value>-->

<!--                &lt;!&ndash;******************************** UNIDIRECTIONAL - MANY TO MANY ********************************&ndash;&gt;
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.manytomany.annotations.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.manytomany.annotations.Order</value>-->

<!--                &lt;!&ndash;******************************** UNIDIRECTIONAL - ONE TO MANY ********************************&ndash;&gt;
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.onetomany.annotations.Customer</value>
                <value>pl.edu.agh.tutorial.mappings.associations.unidirectional.onetomany.annotations.Order</value>-->

                <!--******************************** QUERY EXAMPLES ********************************-->
                <value>pl.edu.agh.tutorial.domain.Supplier</value>
                <value>pl.edu.agh.tutorial.domain.Category</value>
                <value>pl.edu.agh.tutorial.domain.Product</value>
                <value>pl.edu.agh.tutorial.domain.Customer</value>
                <value>pl.edu.agh.tutorial.domain.Order</value>
                <value>pl.edu.agh.tutorial.domain.OrderDetail</value>
                <value>pl.edu.agh.tutorial.domain.Address</value>
                <value>pl.edu.agh.tutorial.domain.Company</value>
                <value>pl.edu.agh.tutorial.domain.Individual</value>
            </list>
        </property>
        <property name="mappingResources">
            <list>
<!--                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/onetomany/xml/Customer.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/onetomany/xml/Order.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/manytomany/xml/Customer.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/manytomany/xml/Order.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/onetoone/xml/Employee.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/bidirectional/onetoone/xml/Address.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/manytomany/xml/Customer.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/manytomany/xml/Order.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/onetomany/xml/Customer.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/onetomany/xml/Order.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/onetoone/xml/Employee.hbm.xml</value>
                <value>pl/edu/agh/tutorial/mappings/associations/unidirectional/onetoone/xml/Address.hbm.xml</value>-->
                <value>pl/edu/agh/tutorial/queries/namedqueries/queries_example.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>